###############################################################################
#                                                                             #
#  Comments MUST always start with a "#" at the first column of the line.     #
#                                                                             #
#  Each Map contains several Levels (floors), and each Level can (should)     #
#  contain Triggers.                                                          #
#                                                                             #
#  Triggers contain several bits of information apiece, so they must be       #
#  defined in this file, separate from the Map or Layer config files.         #
#  Triggers contain:                                                          #
#    - a unique ID                                                            #
#    - coordinates (x, y)                                                     #
#    - a "type" value which indicates what kind of a marker it is:            #
#      - activate when stepped ON                                             #
#      - activate when stepped OFF                                            #
#      - activate when standing next to it and press the ACTION key           #
#                                                                             #
#  To indicate "no triggers" for a Level, leave this file empty (or just      #
#  don't list any "triggers_config" line identifiers within it).              #
#                                                                             #
#  The dimensions of the Level are found within the Map's config file.        #
#                                                                             #
###############################################################################


num_triggers
3


#  Format:
#  - [trigger ID]
#  - [x coordinate] [y coordinate] (0-based)
#  - [type ID]


#  "landing spot" for player when they enter this map from EAST
triggers_config
EAST_ENTRANCE
19 6
TRIGGER_LANDING_SPOT


#  "invisible door" located by investigating top-left wall leading NORTH
triggers_config
SECRET_DOOR
1 1
TRIGGER_ACTION


#  "landing spot" for player when they enter this map from the NORTH (coming
#  back from the "invisible door" Map)
triggers_config
NORTH_SECRET_ENTRANCE
1 2
TRIGGER_LANDING_SPOT
